:root {
  --aura-community: #1e90ff;
  --aura-miner: #ffd700;
  --aura-bank: #32cd32;
  --aura-investor: #8a2be2;
  --aura-government: #ff4500;
  --aura-supplier: #00ced1;
  --aura-transporter: #ff1493;
  --aura-donor: #ffa500;

  --ritual: #ffffff;
}
